.character-name {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px !important;
}
.card-content-container {
  padding: 8px !important;
  text-align: center;
}
.card-actions-container {
  display: flex;
  flex-direction: row-reverse;
}
