.chart-container-outer {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1025px) {
    flex-direction: row;
    justify-content: space-around;
  }
  .facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .fact-item {
      margin: 5px 0;
    }
    .subheader-container {
      margin-top: 10px;
    }
    .total-number {
      color: teal;
      font-size: 25px;
      font-weight: bold;
    }
  }
  .bar-chart {
    // width: 100%;
    @media (min-width: 1025px) {
    }
  }
}
